body {
  background-color: #1d1e1f;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
.button {
  width: 200px;
  height: 100px;
  background-color: hsl(214, 78%, 21%);
  border-radius: 15px;
  box-shadow: 0 0 20px 5px #216bff;
}
.smol {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  color: #5b2cc9;
  font-size: 14px;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
.chonk {
  font-family: "Oi", serif;
  font-size: 64px;
  font-weight: 400;
  color: #216bff;
  font-style: normal;
}
